* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

#album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 10px;
    row-gap: 30px;
}

.card-product {
    background: gray;
    gap: 10px;
}